.content {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
   
    
  }
  .row {
    display: flex;
    gap: 10px;
  
    mat-form-field {
      width: 50%;
    }
  }
  
  .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  }
  
  