<app-header></app-header>


    
    <!-- ============== SECTION CONTENT ============== -->
    <section class="padding-y">
    <div class="container">
    
    <div class="row">
      <aside class="col-lg-3">
    
        <div>
          <h2>Filter</h2>
          <label>Project Type:</label>
          <div *ngFor="let category of categories">
            <input type="checkbox" name="category" [value]="category">{{category}}
          </div>
          <label>Date:</label>
          <div *ngFor="let size of sizes">
            <input type="checkbox" name="size" [value]="size">{{size}}
          </div>

          <div class="form-group">
          <label>skills :</label>
          <ng-multiselect-dropdown 
              [placeholder]="'Select skills'"
              [data]="colors"
              [settings]="dropdownSettings"
               >
            </ng-multiselect-dropdown>
          </div>
         

          

          <div class="form-group">
            <label>Number</label>
            <input matInput  type="number" min="1" [(ngModel)]="priceRange" [ngModelOptions]="{standalone: true}" class="form-control" id="number"  placeholder="Number" required >
          </div>
        
          <button>Apply Filter</button>
        </div>

    
     <!-- card.// -->
    <!-- ===== Card for sidebar filter .// ===== -->
    
      </aside> <!-- col .// -->
      <main class="col-lg-9">
        
      <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
       
        <!--<form [formGroup]="form" (ngSubmit)="onFilter()">
          <input formControlName="name" placeholder="Name">
          <input formControlName="age" placeholder="Age">
          <button type="submit">Filter</button>
        </form>
        <ul>
          <li *ngFor="let result of results">{{result}}</li>
        </ul> -->

       
      </header>
    
      <!-- -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/10.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$99.00</strong>
            <del class="price-old">$170.00</del>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/11.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$120.00</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">Winter Jacket for Men and Women, All sizes</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/12.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$120.00</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/9.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$120.00</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/14.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$510.00</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">Blazer Suit Dress Jacket for Men, Blue color</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/10.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$79.99</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">Rucksack Backpack The Bridge Large Line Mounts</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/11.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$120.00</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> <!-- col end.// -->
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/12.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$120.00</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">T-shirts with multiple colors, for men and lady</p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> 
    
        <div class="col-lg-4 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
          <div class="img-wrap"> 
            <img src="assets/images/items/9.webp"> 
          </div>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">$43.50</strong>
            </div> 
            <p class="title mb-2">Summer New Men's Denim Jeans Shorts </p>
            
            <a href="#" class="btn btn-primary" routerLink="/details">View More Details</a>
            <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
          </figcaption>
          </figure>
        </div> 
      </div> 
    -->
      <hr>
  <footer class="d-flex mt-4">
                
                  <nav class="ms-3">
                      <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                          <span class="page-link">2</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                      </li>
                      </ul>
                  </nav>
                  </footer>
                
                  </main>
                  </div> 
                  </div> 
                  </section>
                 
