:root {
    --input-padding-x: .5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .card-signin {
    border: 2;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 2.5rem;
  }
  
  .card-signin .card-body {
    padding: 5rem;
  }
  
  .form-signin {
    width: 100%;
    padding: .5rem;
    
  }
  .form-group {
    padding: .5rem;
    margin-bottom: .7rem;
    font-weight: 100;
    font-size: 1rem;
    color: black;
    border-radius: .25rem;
  }
  
  
 
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }