<!------------------------------------------------------------------------------->
  <!-- <p>profil works!</p>
  <p>{{user.firstName}}</p>
  <p>{{user.lastName}}</p>
  <p>{{user.email}}</p> -->
  <br><br>     <br>
  
  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                  class="rounded-circle p-1 bg-primary" width="110">
                <div class="mt-3">
                  <h4>{{user.userFirstName}}</h4>
                  <p class="text-secondary mb-1">{{user.userLastName}}</p>
                  <p class="text-muted font-size-sm">{{user.email}}</p>
  
                </div>
              </div>
              <hr class="my-4">
              <div class="d-flex justify-content-center">

              <div class="form-group">
                <a class="btn btn-primary btn-block" href="/home/UpdatProfile">Update profile</a>
            
                <br><br>     <br><br>
              </div>
        </div>

            </div>
          </div>
        </div>
        <div class="col-lg-8">
          
          
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">

                  <br>
<br><br>

                  <h5 class="d-flex align-items-center mb-3">About</h5>
                  <div class="container">
                    <div class="col-lg-9 col-md-7">
                      <div class="row">




                        <div class="text-start mt-3">

                        
                          
                            <p class="text-muted mb-2 font-13"><strong>FirstName Name : </strong> <span class="ms-2">{{user.userFirstName}}
                                   </span></p>

                            <p class="text-muted mb-2 font-13"><strong>Last Name : </strong><span class="ms-2">{{user.userLastName}}</span></p>

                            <p class="text-muted mb-2 font-13"><strong>Email : </strong> <span class="ms-2 ">{{user.email}}</span></p>

                            
                            <p class="text-muted mb-2 font-13"><strong>institute : </strong> <span class="ms-2">{{user.institute}}
                            </span></p>

                           
                            <p class="text-muted mb-2 font-13"><strong>github:</strong> <span class="ms-2">{{user.github}}
                            </span></p>

                         <p class="text-muted mb-2 font-13"><strong>linkedin :</strong><span class="ms-2">{{user.linkedin}}</span></p>

                        
<br>
<br><br>
<br>

                        </div>





                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
  
        </div>
      </div>
    </div>
  </div>