<header class="section-header">  
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="#" class="navbar-brand" routerLink="/home">
            WAYS
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">

            <!--<a href="#" class="btn btn-light" routerLink="/project"> 
              <i class="fa fa-add"></i>  <span class="ms-1 d-none d-sm-inline-block" >Create Project</span>   
            </a> -->

          
            <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> 
              <i class="fa fa-bell"></i> <span class="ms-1">Notifications </span> 
            </a>


            
           
            <a href="#" class="btn btn-light"> 
              <a class="fa fa-user" href="#" data-bs-toggle="dropdown">
              </a>
                <ul class="dropdown-menu">
                  <li> <a class="dropdown-item" href="#" routerLink="/profile">Profile </a> </li>
                  <li> <a class="dropdown-item" href="#" routerLink="/login">Logout</a> </li>
                </ul>
               
          </a>
              </div>
              <mat-dialog-actions> <button mat-raised-button color="primary" (click)="openDialog()">Create New Project</button> </mat-dialog-actions>  
        </div>

       
    
        <!-- col end.// -->
         <div class="col-lg-5 col-md-12 col-12">
          <form action="#" class="">
                  <div class="input-group">
                    <input type="search" class="form-control" style="width:55%" placeholder="Search">
                    <button class="btn btn-primary" (click)="onSearch()">
                      <i class="fa fa-search"></i> 
                    </button>
                    <ul>
                      <li *ngFor="let result of results">{{result}}</li>
                    </ul>
                  </div> 
                </form>
        </div> <!-- col end.// -->
        
      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->
  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">  MY PROJECTS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/profile">PROFILE</a>
          </li>
          
        </ul>
      </div> <!-- collapse end.// -->
    </div> <!-- container end.// -->
  </nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->
