.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #007bff;
    text-transform:capitalize;
    letter-spacing: 2px;
    }


.form-signup {
   
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input:required:invalid  {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-color: red;
        border-radius: 5px;
        transition: border-color 0.3s ease-in-out;
  
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
    }

   
  
   
  
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
      border-top: 1px solid #ddd;
    }
  
    p {
      margin-top: 20px;
      text-align: center;
    }
  
    .btn-success {
      background-color: #28a745;
  
      &:hover {
        background-color: #218838;
      }
    }
  }
  