.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #007bff;
    text-transform:capitalize;
    letter-spacing: 2px;
    }




.form-signup {
    max-width: 500px;
    margin: 0 auto;
  
    .form-group {
      margin-bottom: 20px;
      position: relative;
      
      label {
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
      }
  
      input,
      select ,.ng-multiselect-dropdown {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
  
        &:focus {
          border-color: #007bff;
          outline: none;
        }
  
        &:invalid {
          border-color: red;
        }
      }

      textarea{
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
  
        &:focus {
          border-color: #007bff;
          outline: none;
        }
  
        &:invalid {
          border-color: red;
        }
      }
  
      select:required:invalid {
        height: 40px;
        border-color: red;
      }
    }
  
    .btn-success {
        background-color: #28a745;
    
        &:hover {
          background-color: #218838;
        }
      }
  }
  