
    <h5 class="card-title text-center">New Project</h5>
    <form class="form-signup">
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="projectDtoTitle" [ngModelOptions]="{standalone: true}"  class="form-control" id="title" class="form-control" placeholder="Title" required autofocus oninvalid="this.style.borderColor='red'">
    </div>
  
    <!-- <div class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="projectDtoDescription" [ngModelOptions]="{standalone: true}" class="form-control" id="description"  placeholder="Description" required >
      </div>-->

      <div class="form-group">
      
        <label>Description</label>
        <textarea matInput [(ngModel)]="projectDtoDescription" [ngModelOptions]="{standalone: true}" class="form-control" id="description" required ></textarea>
 
    </div>

   <!-- <div class="form-group">
        <label>Project Type</label>
        <input type="text" [(ngModel)]="projectDtoProjectType" [ngModelOptions]="{standalone: true}" class="form-control" id="projectType"  placeholder="Project Type" required >
    </div> -->

    <div class="form-group">
    <label>Project Type</label >
    <select required >
        <option value="">Select an option</option>
        <option *ngFor="let item of data" [value]="item.value">{{ item.label }}</option>
      </select>

    </div>

    

      <div class="form-group">
        <label>Skills</label>
        <input type="text" [(ngModel)]="projectDtoSkills" [ngModelOptions]="{standalone: true}" class="form-control" id="skills"  placeholder="Skills" required >
      </div>  

  
      <div class="form-group">
        <label>Number</label>
        <input matInput  type="number" min="1" [(ngModel)]="projectDtoNumber" [ngModelOptions]="{standalone: true}" class="form-control" id="number"  placeholder="Number" required >
      </div>  


      
  
     <button type="submit" class="btn btn-primary" (click)="save()">Create</button>
     <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
  
  </form>
  